[submodule "historicalEvents/exploitative/2021-01-14-拼多多-员工发声-我在拼多多的三年/pdd_3years"]
	path = historicalEvents/exploitative/2021-01-14-拼多多-员工发声-我在拼多多的三年/pdd_3years
	url = https://github.com/LeadroyaL/pdd_3years
